language: python
python:
  - 2.6
  - 2.7
env:
  - DJANGO_VERSION=1.4.3
  - DJANGO_VERSION=1.3.5
install:
  - pip install -q -r requirements.txt --use-mirrors
  - pip install -q Django==$DJANGO_VERSION
script: python runtests.py
